<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>1.1.7</string>
	<key>ServerApiVersion</key>
	<string>2.0</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>Pushover</string>
	<key>CFBundleIdentifier</key>
	<string>io.thechad.indigoplugin.pushover</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>https://github.com/IndigoDomotics/indigo-pushover</string>
		</dict>
	</array>
	<key>GithubInfo</key>
	<dict>
		<key>GithubRepo</key>
		<string>indigo-pushover</string>
		<key>GithubUser</key>
		<string>IndigoDomotics</string>
	</dict>
</dict>
</plist>